@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  overflow-x: hidden;
  overscroll-behavior: none;
  height: 100vh;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  overflow-x: hidden;
  overflow: hidden;
}




.albums,
.singles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: calc(100 / 428 * 20 * var(--vw));
  column-gap: calc(100 / 428 * 20 * var(--vw));
  width: calc(100 / 428 * 388 * var(--vw));
  margin: calc(100 / 428 * 10 * var(--vw)) calc(100 / 428 * 20 * var(--vw)) calc(100 / 428 * 40 * var(--vw)) calc(100 / 428 * 20 * var(--vw));
}


.albums img,
.singles img {
  width: calc(100 / 428 * 184 * var(--vw));
  height: calc(100 / 428 * 184 * var(--vw));
  border-radius: calc(100 / 428 * 12 * var(--vw));
  object-fit: cover;
}

.albums span,
.singles span {
  display: block;
  color: #fff;
  font-size: calc(100 / 428 * 18 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  flex: 1;
}





.head {
  display: block;
  font-size: calc(100 / 428 * 24 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  color: #fff;
  margin-left: calc(100 / 428 * 20 * var(--vw));
}







