@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}





.cover {
  position: relative;
  text-align: center;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
}

.cover img {
  width: calc(100 / 428 * 284 * var(--vw));
  border-radius: calc(100 / 428 * 16 * var(--vw));
}





.info {
  text-align: center;
  margin: calc(100 / 428 * 16 * var(--vw)) 0 calc(100 / 428 * 24 * var(--vw)) 0;
}

.info span {
  display: block;
}

.info .title {
  font-size: calc(100 / 428 * 22 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #fff;
}

.info .year {
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  color: #8d8d92;
}







.songs {
  /* width: calc(100 / 428 * 408 * var(--vw)); */
  width: 100%;
  /* margin-left: calc(100 / 428 * 20 * var(--vw)); */
  border-top: calc(100 / 428 * 1 * var(--vw)) solid #262528;
  border-bottom: calc(100 / 428 * 1 * var(--vw)) solid #262528;
}

.song {
  display: flex;
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
}

.number {
  text-align: center;
  width: calc(100 / 428 * 40 * var(--vw));
  color: #797980;
  padding-top: calc(100 / 428 * 13 * var(--vw));
}

.song:first-child .number {
  padding-top: calc(100 / 428 * 12 * var(--vw));
}

.song .title {
  display: flex;
  color: #fff;
  padding: calc(100 / 428 * 12 * var(--vw)) 0 calc(100 / 428 * 12 * var(--vw)) 0;
  border-top: calc(100 / 428 * 1 * var(--vw)) solid #262528;
}

.song:first-child .title {
  border-top: none;
}

.song .title span {
  width: calc(100 / 428 * 338 * var(--vw));
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100 / 428 * 50 * var(--vw));
}

.song svg {
  width: calc(100 / 428 * 16 * var(--vw));
  height: calc(100 / 428 * 16 * var(--vw));
  flex-shrink: 0;
}





